@page "/purchase/purchasereturndetails/{id}"
@inject ICompany company
@inject IPurchaseReturn purchaseInvoiceRepository
@inject IAccountLedger accountLedger;
@inject IInventorySetting settingRepository
@using System.Net;
@using System.Text;
@using System.Collections.Specialized;
@using Microsoft.Data.SqlClient
@using Dapper
@using System.Data
@using System.Net.Mail
@inject DatabaseConnection _conn
@inject IJSRuntime JsRuntime
@inject NavigationManager navManager
@inject ISnackbar Snackbar
@*<PageTitle>Purchase / PurchaseDetails</PageTitle>*@
<div class="content">
                <ol class="breadcrumb">
                <li><a href="#"><i class="pe-7s-home"></i> Home</a></li>
                <li><a href="#">purchase</a></li>
                <li class="active">Purchase ReturnDetails</li>
            </ol>
            
                    <!-- load messages -->
                                        <div class="se-pre-con" style="display: none;"></div>
                    <!-- load custom page -->
                    
		<div class="row">
		    <div class="col-sm-12">
		        <div class="panel panel-bd lobidrag">
		            <div class="panel-heading">
		                <div class="panel-title">
		                    <span>Purchase ReturnDetails</span>
							<span class="print-button">
                                    <a href="/purchase/purchasereturnedit/@id" class="btn btn-success">
            <i class="fa  fa-edit"></i> Edit
          </a>
          <a onclick="printDiv('PrintDiv')" class="btn btn-warning">
              <i class="fa fa-print"></i> 
            Print
          </a>
          <a href="/" class="btn btn-danger">
            <i class="fa  fa-undo"></i> Back to list
          </a>
                                 </span>
		                </div>
		            </div>
		            <div class="panel-body" id="PrintDiv">
		    
           <div class="row purchasedetails-header">
                                
                                <div class="col-sm-7 purchasedetails-address">

                                                                        <img src="@convertImageToDisplay(companyView.LogoPath)" width="70" height="40" class="" alt="">
                                    <br>  <br>
                                      
                                    <span class="label label-success-outline m-r-15 p-10">Billing From</span>
                                    <address>
                                        <strong class="companyname">@companyView.CompanyName</strong><br>
                                        @companyView.Address<br>
                                        <abbr><b>Mobile:</b></abbr>@companyView.Phone <br>
                                        <abbr><b>Email:</b></abbr> 
                                       SaikPOSapps@gmail.com <br>
                                        <abbr><b>Website:</b></abbr> 
                                       SaikPOSapps.com<br>
                                                                                
                                    </address>
                                   
                                  

                                </div>
                                
                                 
                                <div class="col-sm-4 text-left invoice-details-billing">
                                    <h2 class="m-t-0">Purchase Return</h2>
                                    <div>Voucher No: @master.VoucherNo</div>
                                    <div class="m-b-15">Billing Date: @master.Date</div>

                                    <span class="label label-success-outline m-r-15">Billing To</span>

                                    <address class="details-address">  
                                        <strong class="companyname">@master.LedgerName </strong><br>
                                       
                                    </address>
                                </div>
                            </div> 

                          <br>


		                <div class="table-responsive paddin5ps">
		                    <table class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th style="width:30px;">S.No</th>
                                <th>Product Name</th>
                                <th>Unit</th>
                                <th class="text-right">Qty</th>
                                <th class="text-right">Rate</th>
                                <th class="text-right">Discount</th>
                                <th class="text-right">Total Amount</th>
									</tr>
								</thead>
								<tbody>
                                        @{
                                int sno = 0;
                            }
                            @foreach (var td in TodoList)
                            {
                                <tr valign="top">
                                    <td>
                                        @{sno++;}
                                        @sno
                                    </td>
                                    <td>
                                        @td.ProductName<br>

                                    </td>
                                    <td>@td.UnitName</td>
                                    <td align="right">@td.Qty</td>
                                    <td class="text-right">@td.Rate</td>
                                        <td align="right">@td.DiscountAmount</td>
                                    <td align="right">@td.TotalAmount </td>
                                </tr>
                            }
								
																</tbody>
								<tfoot>
									<tr>
										<td class="text-right" colspan="6"><b>Total:</b></td>
										<td class="text-right"><b>@master.TotalAmount</b></td>
									</tr>
                                    <tr>
										<td class="text-right" colspan="6"><b>Bill Discount:</b></td>
										<td class="text-right"><b>@master.BillDiscount</b></td>
									</tr>
                                    <tr>
										<td class="text-right" colspan="6"><b>Vat:</b></td>
										<td class="text-right"><b>@master.TotalTax</b></td>
									</tr>
									 									<tr>
										<td class="text-right" colspan="6"><b>Grand Total:</b></td>
										<td class="text-right"><b>@master.GrandTotal</b></td>
									</tr>
									                               									
																</tfoot>
		                    </table>
		                </div>
                        <div class="row">
                    <div class="col-lg-12">
                        @master.Narration
                    </div>
                </div>
		            </div>
		        </div>
		    </div>
		</div>
	                </div>



@code {
    [Parameter]
    public string id { get; set; }
    InventorySetting setting = new InventorySetting();
    InventorySetting settingPurchase = new InventorySetting();
    PurchaseReturnView master = new PurchaseReturnView();
    List<ProductView> TodoList = new List<ProductView>();
    List<AccountLedger> listCash = new List<AccountLedger>();
    List<AccountLedger> listBank = new List<AccountLedger>();
    string billtype;
    long decPurchaseInvoiceVoucherType = 14;
    string strSerialNo;
    string strPrefix;
    string strSuffix;
    decimal decTotal = 0;
    decimal paymentMade = 0;
    Company companyView = new Company();

    //SendMail
    private string Message { get; set; } = "";

    protected async override void OnInitialized()
    {
        settingPurchase = settingRepository.EditInventorySetting(decPurchaseInvoiceVoucherType);
        companyView = company.Edit(1);
        billtype = "Purchase Return";
        LoadData();
    }
    private void LoadData()
    {
        master = purchaseInvoiceRepository.PrintPurchaseMasterView(Convert.ToInt64(id));
        TodoList = purchaseInvoiceRepository.PurchaseInvoiceView(Convert.ToInt64(id));
    }
    private void Print()
    {
        JsRuntime.InvokeVoidAsync("Print");
    }
    string convertImageToDisplay(byte[] image)
    {
        if (image != null)
        {
            var base64 = Convert.ToBase64String(image);
            var finalStr = string.Format("data:image/jpg;base64,{0}", base64);
            return finalStr;
        }
        return "";
    }
}
