@page "/product/salesmanadd"
@inject ISalesMan salesman
@inject IJSRuntime JsRuntime
@inject NavigationManager navManager
@inject ISnackbar Snackbar
@*<PageTitle>Product / CounterAdd</PageTitle>*@
<div class="content">



       
                <ol class="breadcrumb">
                <li><a href="/"><i class="pe-7s-home"></i> Home</a></li>
                <li><a href="/">Product</a></li>
                <li class="active">Add SalesMan</li>
            </ol>
            
                    <!-- load messages -->
                                        <div class="se-pre-con" style="display: none;"></div>
                    <!-- load custom page -->
                     <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-bd lobidrag">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>Add SalesMan </h4>
                        </div>
                    </div>
                   
                    <div class="panel-body">
                            	<EditForm Model="@master" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />
                                <div class="form-group row">
                                    <label for="unit_name" class="col-sm-2 text-right col-form-label">SalesMan<i class="text-danger"> * </i>:</label>
                                    <div class="col-sm-4">
                                        
                                    <input type="text" class="form-control" @bind="master.SalesmanName" placeholder="SalesMan">
                                    <ValidationMessage For="@(() => master.SalesmanName)" />
                                    
                                </div>
                                </div>
                                <div class="form-group row">
                                    <label for="unit_name" class="col-sm-2 text-right col-form-label">Narration:</label>
                                    <div class="col-sm-4">
                                        
                                    <input type="text" class="form-control" @bind="master.Narration" placeholder="Narration">
                                    <ValidationMessage For="@(() => master.Narration)" />
                                    
                                </div>
                                </div>

                         <div class="form-group row">
                                   
                                     <div class="col-sm-6 text-right">
                                     <button type="submit" class="btn btn-success ">Save</button>
                                      <button type="button" class="btn btn-danger" @onclick="@Cancel">Back to List</button>
                                                    
                                       
                                       
                                    </div>
                                </div>
                                </EditForm>
                                </div>
                        </div>
                    </div>
                </div>
               
                </div>

@code {
    SalesMan master = new SalesMan();
    protected async override void OnInitialized()
    {
        
    }
    public async Task HandleValidSubmit()
    {
            var isCheck = salesman.CheckName(master.SalesmanName);
            if (isCheck == true)
            {
                Snackbar.Add("Already Exists.", Severity.Info);
            }
            else
            {
                master.AddedDate = DateTime.Now;
                salesman.Save(master);
                Snackbar.Add("Saved Successfully.", Severity.Success);
                navManager.NavigateTo("/product/salesmanlist");
            }
    }
    void Cancel()
    {
        navManager.NavigateTo("/product/salesmanlist");
    }
    }
