@page "/product/productgroupedit/{id}"
@inject IProductGroup productGroup
@inject IJSRuntime JsRuntime
@inject NavigationManager navManager
@inject ISnackbar Snackbar
@*<PageTitle>Product / ProductGroupEdit</PageTitle>*@
<div class="content">



       
                <ol class="breadcrumb">
                <li><a href="/"><i class="pe-7s-home"></i> Home</a></li>
                <li><a href="/">Product</a></li>
                <li class="active">Edit ProductGroup</li>
            </ol>
            
                    <!-- load messages -->
                                        <div class="se-pre-con" style="display: none;"></div>
                    <!-- load custom page -->
                     <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-bd lobidrag">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>Add ProductGroup </h4>
                        </div>
                    </div>
                   
                    <div class="panel-body">
                            	<EditForm Model="@master" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />
                                <div class="form-group row">
                                    <label for="unit_name" class="col-sm-2 text-right col-form-label">Product Group<i class="text-danger"> * </i>:</label>
                                    <div class="col-sm-4">
                                        
                                    <input type="text" class="form-control" @bind="master.GroupName" placeholder="Product Group">
                                    <ValidationMessage For="@(() => master.GroupName)" />
                                    
                                </div>
                                </div>
                                <div class="form-group row">
                                    <label for="unit_name" class="col-sm-2 text-right col-form-label">Under<i class="text-danger"> * </i>:</label>
                                    <div class="col-sm-4">
                                        <select class="control-label" @bind="master.GroupUnder">
                                          @foreach(var item in listProductgorup)
                                    {
                                    <option value="@item.GroupId"> @item.GroupName</option>

                                    }
                                        </select>
                                    
                                </div>
                                </div>
                                <div class="form-group row">
                                    <label for="unit_name" class="col-sm-2 text-right col-form-label">Narration:</label>
                                    <div class="col-sm-4">
                                        
                                    <input type="text" class="form-control" @bind="master.Narration" placeholder="Narration">
                                    <ValidationMessage For="@(() => master.Narration)" />
                                    
                                </div>
                                </div>
                         <div class="form-group row">
                                   
                                     <div class="col-sm-6 text-right">
                                     <button type="submit" class="btn btn-success ">Save</button>
                                      <button type="button" class="btn btn-danger" @onclick="@Cancel">Back to List</button>
                                                    
                                       
                                       
                                    </div>
                                </div>
                                </EditForm>
                                </div>
                        </div>
                    </div>
                </div>
               
                </div>
@code {
    [Parameter]
    public string id { get; set; } 
     ProductGroup master = new ProductGroup();
     List<ProductGroup> listProductgorup;
    protected async override void OnInitialized()
    {
        master = productGroup.Edit(Convert.ToInt64(id));
        listProductgorup = productGroup.GetAll();
    }
    public async Task HandleValidSubmit()
    {
        var isCheck = productGroup.CheckNameId(master.GroupName);
        if (isCheck == master.GroupId || isCheck == 0)
        {
            master.CompanyId = 1;
            master.ModifyDate = DateTime.Now;
            productGroup.Update(master);
            Snackbar.Add("Updated Successfully.", Severity.Success);
            navManager.NavigateTo("/product/productgrouplist");
        }
        else
         {
             Snackbar.Add("Already Exists.", Severity.Info);
          }
    }
    void Cancel()
    {
        navManager.NavigateTo("/product/productgrouplist");
    }
    }
