@page "/inventory/salesreports"
@inject IAccountLedger ledger
@inject IInventoryReport report
@inject ICompany icompany
@inject IVoucherType voucherType
@using System.Data;
@inject IJSRuntime JsRuntime
@inject ISnackbar Snackbar
<div class="content">
                <ol class="breadcrumb">
                <li><a href="/"><i class="pe-7s-home"></i> Home</a></li>
                <li><a href="/">Inventory Report</a></li>
                <li class="active">Sale Reports</li>
            </ol>
            
                    <!-- load messages -->
                                        <div class="se-pre-con" style="display: none;"></div>
                    <!-- load custom page -->
                    
                     <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body"> 
                        
                            <div class="col-sm-3">
                           
                            <label class="col-sm-4" for="product">Customer</label>
                            <div class="col-sm-8">
                            <select class="form-control" @bind="LedgerId">
                              <option value="0">Choose Customer</option>
                              @foreach(var item in listCustomer)
                                {
                                    <option value="@item.LedgerId">@item.LedgerName</option>
                                }
                            </select>
                       </div>
                            </div>
                            <div class="col-sm-3">
                           
                            <label class="col-sm-4" for="product">Voucher Type</label>
                            <div class="col-sm-8">
                            <select class="form-control" @bind="VoucherTypeId">
                              <option value="0">Choose VoucherType</option>
                              @foreach(var item in listVoucherType)
                                {
                                    <option value="@item.VoucherTypeId">@item.VoucherTypeName</option>
                                }
                            </select>
                       </div>
                            </div>
                            <div class="col-sm-7">
                               <div class="col-sm-6"> 
                            <label class="col-sm-4" for="from_date">Start Date</label>
                            <div class="col-sm-8">
                            <input type="date" class="form-control datepicker hasDatepicker" @bind="FromDate">
                       
                             </div>
                         </div>
                        <div class="col-sm-6">
                            <label class="col-sm-4" for="to_date">End Date</label>
                            <div class="col-sm-8">
                            <input type="date" class="form-control datepicker hasDatepicker" @bind="ToDate">
                       
                        </div>  
                        </div>
                            </div>
                            <div class="col-sm-2">
                                  <button type="button" class="btn btn-success" @onclick="Search">Search</button>
                                  <button type="button" class="btn btn-success" @onclick="ExportToExcelAsync">Excel</button>
                        <a class="btn btn-warning" onclick="printDiv('PrintDiv')">Print</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>

       

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-bd lobidrag">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <span>Sale Reports</span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="PrintDiv" class="table-responsive ">
                            <div class="paddin5ps">
                                      <table class="print-table" width="100%">
                
                <tbody><tr>
                    <td align="left" class="print-table-tr">
                        <img src="@convertImageToDisplay(company.LogoPath)" class="companyimg" />
                    </td>
                    <td align="center" class="print-cominfo">
                        <span class="company-txt">
                            @company.CompanyName                  
                        </span><br>
                        @company.Address                        <br>
                         @company.Phone
                    </td>
                   
                     <td align="right" class="print-table-tr">
                        <date>
                        @DateTime.Now
                    </date>
                    </td>
                </tr>            
                                   
                                </tbody></table>
                            </div>

                            <div class="table-responsive paddin5ps">
                                @if (final == null)
                            {
                                <div class="spinner"></div>
                                @*<p><em>Loading......</em></p>*@
                            }
                            else
                            {
                                <table class="table table-striped">

                                    <tr>
                                        <th>S.No.</th>
                                        <th style="">Date</th>
                                        <th style="">Customer Name</th>
                                        <th style="">Voucher Type</th>
                                        <th>Total Amount</th>
                                        <th>User</th>
                                        <th>Narration</th>
                                    </tr>
                                    @{
                                        int sno = 0;
                                    }
                                    @foreach (var item in final)
                                    {
                                        <tr>
                                            <td>
                                                @{sno++;}
                                                @sno
                                            </td>
                                            <td>@item.Date</td>
                                            <td>@item.LedgerName</td>
                                            <td>@item.VoucherTypeName</td>
                                            <td>@item.GrandTotal</td>
                                            <td>@item.UserId</td>
                                            <td>@item.Narration</td>
                                        </tr>
                                    }
                                    <tfoot>
                                        <tr>
                                            <td>Total</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>@final.Sum(i => i.GrandTotal)</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                   </div>
@code {
    List<AccountLedgerView> listCustomer = new List<AccountLedgerView>();
    List<VoucherType> listVoucherType = new List<VoucherType>();
    List<PurchaseSales> final = new List<PurchaseSales>();
    long LedgerId = 0;
    long VoucherTypeId = 0;
    DateTime FromDate = DateTime.Now;
    DateTime ToDate = DateTime.Now;
    Company company = new Company();
    string myMarkup;
    protected async override void OnInitialized()
    {
        company = icompany.Edit(1);
        listCustomer = ledger.ViewAllCustomer(1);
        listVoucherType = voucherType.GetVoucherType();
    }
    protected void Search()
    {
                final = report.SaleReports(Convert.ToDateTime(FromDate), Convert.ToDateTime(ToDate), LedgerId, VoucherTypeId);
    }
    private async Task ExportToExcelAsync()
        {
                
        }
    string convertImageToDisplay(byte[] image)
    {
        if (image != null)
        {
            var base64 = Convert.ToBase64String(image);
            var finalStr = string.Format("data:image/jpg;base64,{0}", base64);
            return finalStr;
        }
        return "";
    }
    }
